body {
    margin: 0;
}

main {
    background-color: rgba(155, 151, 151, 0.73);
    margin: 0;
    padding: 1.5em;
}

/* Start of styles for HOME */
/* TEXT */
h1 {
    color: rgb(255, 255, 255);
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 3em;
}

h4 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 1.5em;
}

/* BACKGROUND FOR TEXT */
.bgheading {
    background-color: rgba(124, 0, 0, 0.92);
    border: solid rgb(0, 0, 0) 0.20em;
    /* outline: rgb(245, 245, 220) solid 0.015em; */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.53);
    /* margin: 10em 5em 10em 5em; */
}

/* PARALLAX BACKGROUND IMAGE */
.parallax {
    background-image: url(../images/LinkedIn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 20em;
    padding-right:14em;
    padding-left: 14em;
    height: 100vh;
}

/* End of styles for HOME */

/* Start of styles for MAIN */
/* TEXT */
h2 {
    color: rgb(0, 0, 0);
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    margin: 0;
    margin-right: 25px;
    padding-left: 0;
    font-size: 5em;
    border: solid black 1px;
    float: left;
}
img {
    margin: 2em;
    padding: 0 4em;
    float: right;
    height: 14em;
    width: 14em;
}

.fontParagraph {
    color: rgb(245, 245, 220);
    font-family: 'Oxygen', sans-serif;
    font-size: large;
}

h3 {
    background-color: rgb(139, 0, 0);
    color: rgb(0, 0, 0);
    border: solid rgb(245, 245, 220) 0.003em;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    margin-right: 16.8em;
    padding: 0.2em;
    padding-left: 1em;
}

/* LISTS AND ICONS */
ul {
    display: inline-flex;
    list-style: none;
    padding: 0 10%;
    text-align: center;
}

.fa-html5:before {
    padding: 0px 10%;
    margin: 0 25%;
    font-size: 6rem;
}

.fa-css3-alt:before {
    padding: 0px 10%;
    margin: 0 25%;
    font-size: 6rem;
}

.fa-sass:before {
    padding: 0px 10%;
    margin: 0 25%;
    font-size: 6rem;
}

.fa-java:before {
    padding: 0px 10%;
    margin: 0 25%;
    font-size: 6rem;
}

.fa-php:before {
    padding: 0px 10%;
    margin: 0 25%;
    font-size: 6rem;
}

.fa-html5:hover {
    color: rgb(255, 140, 0);
    transition: color 1s ease-in-out;
}

.fa-css3-alt:hover {
    color: rgb(0, 0, 255);
    transition: color 1s ease-in-out;
}

.fa-sass:hover {
    color: rgb(199, 23, 199);
    transition: color 1s ease-in-out;
}

.fa-java:hover {
    color: rgb(255, 255, 0);
    transition: color 1s ease-in-out;
}

.fa-php:hover {
    color: rgb(90, 46, 213);
    transition: color 1s ease-in-out;
}

/* IMAGES */
/* End of styles for MAIN */

/* Start of styles for CONTACT */
a {
    color: rgba(0, 0, 0, 0.68);
}

/* PARALLAX BACKGROUND IMAGE */
.parallax-project {
    background-image: url(../images/apple-1867762_960_720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 15rem;
}

/* TEXT */
h5 {
    margin-top: 0;
    padding: 2.4rem;
    padding-bottom: 0;
    font-size: 1.8rem;
}
/* ICONS */
.fa-envelope:before {
    padding: 0 50%;
    font-size: 4rem;
}

.fa-linkedin:before {
    padding: 0 50%;
    font-size: 4rem;
}

.fa-instagram:before {
    padding: 0 50%;
    font-size: 4rem;
}

.fa-facebook:before {
    padding: 0 50%;
    font-size: 4rem;
}

.fa-github:before {
    padding: 0 50%;
    font-size: 4rem;
}

.fa-envelope:hover {
    color: rgb(255, 0, 0);
    transition: color 0.5s;
}

.fa-linkedin:hover {
    color: rgb(8, 53, 255);
    transition: color 0.5s ease-out;
}

.fa-instagram:hover {
    color: blueviolet;
    transition: color 0.5s ease-in-out;
}

.fa-facebook:hover {
    color: rgb(0, 0, 114);
    transition: color 0.5s ease-in-out;
}

.fa-github:hover {
    color: rgb(238, 130, 238);
    transition: color 0.5s ease-in-out;
}

/* End of styles for CONTACT */